body {
    font-family: serif;
    font-size: 14px;
    line-height: 1.25;
    color: #777;
}

ul ul {
    font-style: italic;
    font-weight: bold;
}

h1, h2 {
    font-family: 'Cormorant Infant', serif;
    letter-spacing: 0.5px;
    color: black;
    text-transform: capitalize;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 26px;
}

.second {
    line-height: 2;
}

.mail-box {
    width: 150px;
    background-color: #E3FFF6;
    border: 5px solid #C2E4C2;
    padding: 5px 20px;
    box-sizing: border-box;

}

.mail-box a {
    word-wrap: break-word;
    display: block;
}

p {
    text-align: justify;
}

.our-adv {
    background-image: url('http://picsum.photos/id/357/700/400?blur=5');
    background-position: center;
    background-size: cover;
    padding: 30px 0 60px;
    color: white;
    font-size: 16px;
}

h2 {
    margin: 60px 0 0 0;
}

body {
    font-family: 'PT Sans Narrow', serif;
}

h1, h2 {
    font-family: 'Cormorant Infant', serif;
}

.ruler {
    width: 150px;
    background-color: lime;
    text-align: center;
}
  
  